html, body {
	height:100%;
	margin:0;
	padding:0;
}
body {
	background:url("../images/dash_header.png") repeat-x scroll 0 0 transparent;
	color:#000000;
	font-family:Tahoma,Helvetica,sans-serif;
	font-size:14px;
}
h2, h1 {
	font-size:18px;
	margin-bottom:5px;
	color:#003867;
	font-size:18px;
	font-weight:bold;
}
.line {
	background:url("../images/line.jpg") no-repeat scroll center top #FFFFFF;
	float:left;
	height:45px;
	width:920px;
}
#container {
	min-height:100%;
	position:relative;
}
#wrapper {
	display:block;
	margin:0 auto 90px;
	overflow:hidden;
	width:960px;
}
.header {
	height:80px;
	position:relative;
}
.header .logos {
	overflow:hidden;
	position:absolute;
	top:9px;
}
.header .logos a.logo_rhomobile {
	background:url("../images/rhomobile_rhohub_logo.png") no-repeat scroll 0 0 transparent;
	float:left;
	height:38px;
	text-indent:-3000px;
	width:56px;
}
.header .logos a.logo_rhohub {
	background:url("../images/rhomobile_rhohub_logo.png") no-repeat scroll -56px 0 transparent;
	float:left;
	height:38px;
	text-indent:-3000px;
	width:145px;
}
#menu {
	color:#CCCCCC;
	float:right;
	font-size:12px;
	padding:0;
	position:relative;
	top:-19px;
}
#menu ul {
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-family:arial;
	margin:27px 0 0;
	padding:0;
}
#menu ul li {
	display:inline;
	font-size:12px;
	padding:0;
}
#menu ul li.separator{
	position:relative;
	top:9px;
}
#menu ul li#current {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.15);
	padding:5px 0;
	text-decoration:none;
}
#menu ul li a {
	height:24px;
	margin:0 auto;
	padding-left:12px;
	padding-right:12px;
	text-align:center;
	text-shadow:1px 1px 0 #000000;
}
#menu ul li a.current {
	color:#FFFFFF;
	padding-bottom:5px;
	padding-top:5px;
}
#menu ul li a.logout {
	color:#FFFFFF;
}
#menu ul li a.logout:hover{
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	color:#c0c0c0;
	text-decoration:none;
	background:none;
}
#menu a:link, #menu a:visited, #menu a:active {
	color:#CCCCCC;
	font-weight:bold;
	text-decoration:none;
}
#menu a:hover {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.15);
	color:#FFFFFF;
	padding:5px 12px;
	text-decoration:none;
}
#yield_container {
	-moz-border-radius:15px 15px 15px 15px;
	background:none repeat scroll 0 0 #FFFFFF;
	overflow:hidden;
	padding:17px 17px 30px;
}
#footer {
	background:none repeat scroll 0 0 #363736;
	bottom:0;
	height:80px;
	margin-top:15px;
	position:absolute;
	width:100%;
}
#footer .footer_content {
	margin:0 auto;
	width:962px;
}
#footer .footer_content .foot_left {
	float:left;
}
#footer .footer_content div {
	padding-top:15px;
}
#footer a {
	color:#FFFFFF;
}
#footer .footer_content .foot_left a img {
	border:medium none;
}
#footer .footer_content p {
	color:#FFFFFF;
	font-size:12px;
	margin-top:10px;
}
#footer .footer_content .foot_right {
	float:right;
}
.ul_footer {
	font-size:12px;
	list-style-type:none;
	margin-top:5px;
	padding-left:0;
}
.ul_footer li {
	color:#FFFFFF;
	display:inline;
	padding-right:5px;
}
.ul_footer li a {
	color:#FFFFFF;
}
.ul_footer li a:hover {
	text-decoration:none;
}
clear {
	clear:both;
	display:block;
}
div.post {
	clear:both;
	margin-bottom:30px;
	position:relative;
}
div.post .post_content {
	padding-left:95px;
}
div.post .date {
	background:url("../images/post_date.jpg") no-repeat scroll 0 0 transparent;
	height:127px;
	padding-top:23px;
	position:absolute;
	text-align:center;
	top:-17px;
	width:63px;
}
div.post .date .month {
}
div.post .date span {
	color:#FFFFFF;
	display:block;
	font-size:10px;
	font-weight:700;
	text-shadow:0 1px 0 #4A4A4A;
}
div.post .date .day {
	font-size:21px;
	margin-bottom:2px;
}
div.post .post_content a {
	color:#333333;
}
div.post h2 a, div.post h1 a{
	color:#333333;
	text-decoration:none;
}
div.layout_rs .container.left p {
	margin-bottom:30px;
}
div.post p {
}
p {
	color:#333333;
	line-height:20px;
	margin-bottom:15px;
}