---
layout: default
title: RhoHub Blog
---
<div class="navigation" id="nav-above">
	<div class="nav-previous"><a href="http://rhohub.com"><span class="meta-nav">←</span> Back to RhoHub</a></div>
</div>
<h2 class="title">RhoHub Blog</h2>
<div class="line"></div>

<div class="container_left">


	{% for post in site.posts limit:5 %}

	<div class="post">
		<div class="date">
			<span class="month">{{ post.date | date: '%B' }}</span>
			<span class="day">{{ post.date | date: '%d' }}</span>
			<span>{{ post.date | date: '%Y'}}</span>
		</div><!-- END date -->

		<div class="post_content">
			{{ post.content | truncatewords: 100 }} <br/> (<a class="read_more" href="{{ post.url }}">Read more</a>)
		</div><!--END post_content -->
	</div>

	{% endfor %}

</div>

<div class="container_last">
	<h3 class="title_sep">Archive</h3>
	<ul id="archive">
		{% for post in site.posts %}
		<li>
			<span>{{ post.date | date_to_string }}</span><h4><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title | truncatewords: 4 }}</a></h4> 
		</li>
		{% endfor %}
	</ul>
</div>