---
layout: default
---
	<div class="navigation" id="nav-above">
		<div class="nav-previous"><a href="/index.html"><span class="meta-nav">←</span> Back to Posts</a></div>
		<div class="nav-next"></div>
	</div>

<div class="post">
	<div class="date">
		<span class="month">{{ page.date | date: '%B' }}</span>
		<span class="day">{{ page.date | date: '%d' }}</span>
		<span>{{ page.date | date: '%Y'}}</span>
	</div><!-- END date -->

	<div class="post_content">
	   {{ content }}
	</div><!--END post_content -->
</div>